.feed-title {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1em auto;
}

.record {
  margin: 4em auto;
  width: 60vw;
}

@media (max-device-width: 800px){
  .record {
    margin: 4em auto;
    width: 95vw;
  }
}

.attempted {
  float: right;
}

.actions {
  justify-content: space-betweeen;
}

.load-more {
  margin: 2em auto;
  display: flex;
  justify-content: center;
}

.record .content .info {
  margin: 1em 0 0 0;
  display: flex;
  height: 2em;
}

.record .content h3 {
  display: inline-block;
  margin-right: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

.record .content {
  margin-bottom: 1em;
}
.record form {
  margin-top: 1em;
}

.record form .treatment-code {
  margin: 0.5em 0 0 0;
  display: block;
  width: 200px;
}

.record button {
  height: 4em;
}

.progress {
  margin: 6em auto;
  display: flex;
  justify-content: center;
}

.record input {
  width: 100px;
  text-align: center;
}
